*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );
}

#open__card:checked ~.open__btn {
    display: none;
}
#open__card:checked ~ .modal {
    display: block;
}

.open__btn {
    margin: auto auto;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    
    border-radius: 10px;
    border: none;
    background-color: #fff;
    width: 220px;
    height: 50px;
    display: block;
    text-align: center;
    padding-top: 10px;
    
    

}
.open__btn:hover {
    cursor: pointer;
    opacity: 0.8;
}


.modal {
    
    width: 450px;
    height: 220px;
    margin: 220px auto;
    background-color: aliceblue;
    border-radius: 15px;
    overflow: hidden;
    display: none;
    
    
}

.modal__card--head {
    height: 50px;
    width: 100%;
    background-color: #e26e70;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    
    
}
.modal__card--head p {
    color: #fff;
    margin: auto 12px;
    
    
    font-weight: 600;
}
.close {
    color: #fff;
    
    margin: auto 12px;
    font-weight: 600;
    font-size: 29px;
}



.modal__card--body {
    padding: 12px 12px;
    height: 170px;
    position: relative;
}
.modal__card--body h1 {
    color: #e26e70;
    margin-bottom: 15px;
}

.modal__card--body .modal__btn {
    padding: 8px 15px;
    border-radius: 4px;
    background-color:  #e26e70;
    color: #fff;
    border: none;
    right: 12px;
    bottom: 12px;
    position: absolute;
}
.modal__card--body .modal__btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.close {
    color: #fff;
}